##### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Step 2. Import the dataset *chipotle.tsv*

In [2]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

##### Step 3. Assign it to a variable called chipo.

In [3]:
chipo.head()

   order_id  ...  item_price
0         1  ...      $2.39
1         1  ...      $3.39
2         1  ...      $3.39
3         1  ...      $2.39
4         2  ...     $16.98

[5 rows x 5 columns]

In [11]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

##### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [4]:
chipo['item_price'] = chipo['item_price'].str.replace('$', '')
chipo['item_price'] = chipo['item_price'].astype(float)

In [5]:
np.count_nonzero(chipo.item_price>10.00)

1130

##### Step 5. Which was the most-ordered item?

In [12]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity  item_price
item_name
Chicken Bowl    713926       761     7342.73

##### Step 6. What was the most ordered item in the choice_description column?

In [14]:
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

                    order_id  quantity  item_price
choice_description
[Diet Coke]           123455       159      326.71

##### Step 7. How many items were orderd in total?

In [15]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

Step 8. What is the price of each item?

In [6]:
# Taking Min of item price so that only for 1 quantity the price is considered.
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

##### Step 9. Sort by the name of the item

In [7]:
chipo.sort_values(by = "item_name",ascending=True).reset_index(drop=True)

      order_id  ...  item_price
0         1360  ...       12.98
1          148  ...        6.49
2          749  ...        6.49
3          754  ...        6.49
4         1076  ...        6.49
...        ...  ...         ...
4617       948  ...        8.75
4618       322  ...        8.75
4619      1132  ...        8.49
4620       688  ...       11.25
4621       567  ...        8.49

[4622 rows x 5 columns]

##### Step 10. How much was the revenue for the period in the dataset?

In [16]:
revenue = (chipo['quantity']* chipo['item_price']).sum()

print('Revenue was: $' + str(np.round(revenue,2)))

Revenue was: $39237.02

##### Step 11. What is the average revenue amount per order?

In [18]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue'].round(2)

21.39

##### Step 12. What was the quantity of the most expensive item ordered?

In [19]:
xx = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
for i in xx:
    if i!=0:
        print("Quantity of the most expensive item ordered is : ",i)

Quantity of the most expensive item ordered is :  15

##### Step 13. How many times were a Veggie Salad Bowl ordered?

In [20]:
temp = np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
print(temp,"times a Veggie Salad Bowl was ordered")

18 times a Veggie Salad Bowl was ordered

##### Step 14. How many times people orderd more than one Canned Soda?

In [21]:
temp1 = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
print(temp1,"times people orderd more than one Canned Soda")

20 times people orderd more than one Canned Soda

##### Step 15. How many different items are sold?

In [22]:
chipo.item_name.value_counts().count()

50